:root {
	--bg-color: #f2f2f2;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-image: url("assets/bg-2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
