:root {
	--bg-color: #f2f2f2;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-image: url("assets/bg.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
